.Schedule {
  margin-top: 170px;
  display: flex;
  flex-direction: column;
}

table {
  margin-top: 32px;
}

.cell {
  padding: 8px;
  border-bottom: #1f1f1f 3px solid;
}

.day-cell {
  padding: 8px;
}

td {
  border: #1f1f1f 3px solid;
}

tr {
  border: #1f1f1f 3px solid;
}

