.AdminMenu {
  display: flex;
  gap: 24px;
  overflow-x: scroll;
  flex-direction: column;
  width: 30em;
  z-index: 0;
  top: 0;
  left: 0;
  padding: 12em 1em 1em 1em;
  margin: 1em;

  .admin-menu__buttons {
    display: flex;
    gap: 12px;

    button {
      flex: 1;
    }
  }

  .equal-is {
    align-items: center;
    display: flex;
    gap: 8px;

    input {
      flex: 1;
    }
  }

  .admin-menu__header {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .schedule-edit-tutorial__link {
    font-size: 20px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: white;
    background: #1f1f1f;
    transition-duration: 0.3s;
    cursor: pointer;

    &:hover {
      background: rgba(31, 31, 31, 0.7);
    }

    &:active {
      background: rgba(31, 31, 31, 0.3);
    }
  }

  .only-for-this-group__checkbox {
    display: flex;
    gap: 12px;
  }

  .icon {
    margin-left: auto;
    padding: 8px;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    border-radius: 8px;
    transition-duration: 0.3s;
    cursor: pointer;

    &:hover {
      background: rgba(31, 31, 31, 0.1);
    }

    &:active {
      background: rgba(31, 31, 31, 0.3);
      transition-duration: 0.2s;
    }
  }

  .add-lesson__button {
    background: none;
    width: 100%;
    border: #3D99A8 3px solid;
    border-radius: 1em;
    color: #1f1f1f;
    font-weight: 600;
    font-family: "Akrobat", sans-serif;
    cursor: pointer;
    font-size: 16px;
    padding: 8px;
  }

  .lesson {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: #1f1f1f 3px solid;
    border-radius: 1em;
    padding: 16px;

    button {
      padding: 16px 24px;
      margin-right: auto;
    }
  }
}

