.AdminMenu {
  display: flex;
  gap: 24px;
  flex-direction: column;
  padding: 1em;
  width: 30em;
  height: 100%;
  position: fixed;
  top: 100px;
  left: 0;
  background: white;
  border-right: rgba(31, 31, 31, 0.1) 3px solid;

  button {
    font-size: 24px;
    padding: 1em 2em;
  }

  .uploader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 16px;
    padding: 1em 0;
    background: white;
    border: rgba(31, 31, 31, 0.1) 3px dashed;
    border-radius: 2em;
    transition-duration: 0.3s;
  }
}

