.Search {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
  margin-bottom: 32px;

  .search {
    width: 20em;
    border-radius: 2em 0 0 2em;
    font-weight: 300;
    font-size: 24px;
    display: flex;
    height: 48px;
    padding: 0 24px;
    color: #1f1f1f;
    border: 3px #1f1f1f solid;
  }

  .search-block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .search-button {
    border-radius: 0 2em 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    background: #3D99A8;
    border-right: 3px #1f1f1f solid;
    border-top: 3px #1f1f1f solid;
    border-bottom: 3px #1f1f1f solid;
    border-left: none;
    color: white;
    transition-duration: 0.3s;
    cursor: pointer;

    &:hover {
      background: #4E9DA9;
    }

    &:active {
      background: #75B2BC;
      transition-duration: 0.2s;
    }
  }
}

.buttons {
  display: flex;
  gap: 24px;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.radio-button {
  height: 48px;
  cursor: pointer;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 24px;
  border: #1f1f1f 3px solid;
  border-radius: 2em;
  transition-duration: 0.3s;

  p {
    pointer-events: none;
  }
}

.radio-button .active {
  color: white;
  border: #46aebe 3px solid;
  background: #46aebe;
}

@media screen and (max-width: 1600px) {

}

@media screen and (max-width: 720px) {
  .Search {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;

    .search {
      font-weight: 300;
      width: 100%;
      font-size: 24px;
      display: flex;
      height: 48px;
      padding: 0 24px;
      color: #1f1f1f;
      border: 3px #1f1f1f solid;
    }

    .search-block {
      width: 100%;
      display: flex;
      gap: 24px;
      flex-direction: row;
    }

    .search-button {
      border-radius: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      height: 48px;
      background: #3D99A8;
      border: 3px #3D99A8 solid;
      color: white;
      transition-duration: 0.3s;
      cursor: pointer;

      &:hover {
        background: #4E9DA9;
        border: 3px #4E9DA9 solid;
      }

      &:active {
        background: #75B2BC;
        border: 3px #75B2BC solid;
        transition-duration: 0.2s;
      }
    }
  }

  .buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    flex-direction: row;
  }

  .radio-button {
    justify-content: center;
    width: 100%;
    height: 48px;
  }
}