html {
  scroll-behavior: smooth;
}

.little-button {
  padding: 8px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1f1f1f;
  border: none;
  transition-duration: 0.3s;

  &:hover {
    filter: brightness(2);
  }

  &:active {
    filter: brightness(3);
  }
}

body {
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  color: #1f1f1f;
  font-family: "Montserrat", "Akrobat", sans-serif;
}

.underlined-input {
  padding: 8px;
  border-left: none;
  border-right: none;
  border-top: none;
  background: none;
  border-bottom: #1f1f1f 3px solid;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  color: #1f1f1f;
}

.container {
  margin-left: 15%;
  margin-right: 15%;
  justify-content: center;
  min-height: 100vh;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 16px;
  padding: 16px;
  width: 30vw;
  height: 30vh;
  min-width: 360px;
  min-height: 360px;
  background: white;
}

.modal-buttons {
  margin-top: auto;
  display: flex;
  gap: 12px;
}

.modal-button {
  background: none;
  padding: 8px 16px;
  border: #1f1f1f 3px solid;
  border-radius: 8px;
  transition-duration: 0.3s;

  &:hover {
    filter: brightness(0.7);
  }

  &:active {
    filter: brightness(0.9);
  }
}

::-webkit-scrollbar {
  background: transparent;
  display: flex;
  justify-content: center;
  width: 8px;
  padding: 2px;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 4px;
  width: 1px;
  border: #1f1f1f 1px solid;
}

.Link {
  text-decoration: none;
  color: #1f1f1f;

  &:visited {
    color: #1f1f1f;
  }
}

.App {
  background: white;
}

h1 {
  font-family: "Akrobat", sans-serif;
  font-weight: 900;
  font-size: 48px;
}

a {
  color: white;
  text-decoration: none;

  &:visited {
    color: #3D99A8;
  }
}

button {
  cursor: pointer;
}

.anchor-link {
  color: #1f1f1f;
  text-decoration: underline;
}

.outlined-button {
  font-family: "Akrobat", sans-serif;
  font-weight: 700;
  background: transparent;
  font-size: 20px;
  padding: 20px 32px;
  color: #3D99A8;
  border: #3D99A8 3px solid;
  border-radius: 16px;
  transition-duration: 0.3s;
  cursor: pointer;

  &:hover {
    border: 3px solid #87C2D0;
  }

  &:active {
    transition-duration: 0.2s;
    background: #3D99A8;
    color: white;
    border: #3D99A8 3px solid;
  }
}

Link {
  text-decoration: none;
}

.no-outline {
  &:hover {
    outline: 0;
    outline-offset: 0;
  }

  &:active {
    outline: 0;
    outline-offset: 0;
  }

  &:focus {
    outline: 0;
    outline-offset: 0;
  }
}

::selection {
  background: #46aebe; /* Safari */
}

::-moz-selection {
  background: #46aebe; /* Firefox */
}

abbr {
  text-decoration: none;
}

@media screen and (max-width: 1600px) {
  .container {
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
  }
}

@media screen and (max-width: 720px) {
  .container {
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
  }
}