body {
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  color: #1f1f1f;
  font-family: "Montserrat", "Akrobat", sans-serif;
}

.container {
  margin-left: 15%;
  margin-right: 15%;
  height: 100%;
}

::-webkit-scrollbar {
  background: transparent;
  display: flex;
  justify-content: center;
  width: 8px;
  padding: 2px;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 4px;
  width: 1px;
  border: #1f1f1f 1px solid;
}

.Link {
  text-decoration: none;
  color: #1f1f1f;

  &:visited {
    color: #1f1f1f;
  }
}

.App {
  background: white;
}

h1 {
  font-family: "Akrobat", sans-serif;
  font-weight: 900;
  font-size: 96px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #3D99A8;
  -webkit-text-stroke-width: 3.00px;
}

a {
  color: white;
  text-decoration: none;

  &:visited {
    color: #3D99A8;
  }
}

.outlined-button {
  font-family: "Akrobat", sans-serif;
  font-weight: 700;
  background: transparent;
  font-size: 32px;
  padding: 32px;
  color: #3D99A8;
  border: #3D99A8 3px solid;
  border-radius: 16px;
  transition-duration: 0.3s;
  cursor: pointer;

  &:hover {
    border: 3px solid #87C2D0;
  }

  &:active {
    transition-duration: 0.2s;
    background: #3D99A8;
    color: white;
    border: #3D99A8 3px solid;
  }
}

Link {
  text-decoration: none;
}

.no-outline {
  &:hover {
    outline: 0;
    outline-offset: 0;
  }

  &:active {
    outline: 0;
    outline-offset: 0;
  }

  &:focus {
    outline: 0;
    outline-offset: 0;
  }
}

::selection {
  background: #46aebe; /* Safari */
}

::-moz-selection {
  background: #46aebe; /* Firefox */
}

abbr {
  text-decoration: none;
}

@media screen and (max-width: 1600px) {
  .container {
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
  }
}

@media screen and (max-width: 720px) {
  .container {
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
  }
}