.ScheduleEdit {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

.schedule-block {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 24px;

  h3 {
    text-align: center;
    width: 360px;
  }

  button {
    width: 360px;
  }
}

.admin-menu {
  background: white;
  display: flex;
  justify-content: center;
  position: fixed;
  height: 100%;
}

.schedule {
  margin-left: 30%;
}