.AdminPanel {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
  margin-right: 15%;

  .metrics-block {
    margin-bottom: 32px;
    margin-top: 8px;
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
  }

  .menu {
    margin-top: 8px;
    margin-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}