.AdminPanel {
  margin-top: 200px;
  display: flex;
  flex-direction: column;

  .metrics-block {
    margin-bottom: 32px;
    margin-top: 8px;
    gap: 24px;
    display: flex;
    flex-wrap: wrap;
  }

  .menu {
    margin-top: 8px;
    margin-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}