.Tab {
  display: flex;
  flex: 1;
  border: #1f1f1f 3px solid;
  border-radius: 2em;
  gap: 16px;
  padding: 16px;
  flex-direction: column;

  span {
    font-weight: 700;
  }

  h3 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    width: 100%;
  }

  h2 {
    text-align: center;
    font-size: 32px;
  }

  p {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: auto;
  }

  button {
    margin-top: auto;
    justify-content: flex-end;
    width: 100%;
  }
}

