@import "../../App";

.locations {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding-top: 200px;
}

.locationsList {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
  padding: 12px;
  border: 1px #cccccc solid;
}

.delete {
  &:hover {
    background: #fe6060;
  }
}

.buttons {
  width: 100%;
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}

.location {
  gap: 16px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  background: #efefef;
  transition-duration: 0.3s;
  border-radius: 8px;
  padding: 8px;
  font-size: 28px;
  font-weight: 700;
  cursor: pointer;



  &:hover {
    background: rgba(31, 31, 31, 0.3);

    .buttons {
      opacity: 1;
    }
  }

  .buttons {
    flex: 1;
    display: flex;
    transition-duration: 0.3s;
    gap: 12px;
    opacity: 0;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2em;
      height: 2em;
      background: #1f1f1f;
      border: none;
      border-radius: 8px;
      transition-duration: 0.3s;
    }
  }
}