.BurgerMenu {
  z-index: 1;
  top: 0;
  right: 0;
  width: 50em;
  height: 100vh;
  position: fixed;
  background: #1f1f1f;
  box-shadow:0 100px 80px rgba(0, 0, 0, 0.07),
 0 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
 0 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
 0 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
 0 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
 0 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  transition-duration: 0.3s;

  .hideable {
    display: none;
  }

  .back-button {
    position: absolute;
    margin: 16px;
    border-radius: 16px;
    padding: 8px;
    border: none;
    display: flex;
    align-items: center;
    background: none;
    height: 64px;
    width: 64px;
    cursor: pointer;
    transition-duration: 0.3s;

    &:hover,
    &:active {
      background: rgba(255, 255, 255, 0.1);
      transition-duration: 0.2s;
    }

    .back-button__icon {
      margin: auto;
    }
  }

  .burger-menu .active {
    right: -1080px;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 32px;
    gap: 64px;
    flex-direction: column;
    color: white;

    .Link {
      color: white;
      padding: 4px;
      transition-duration: 0.3s;
      border-radius: 8px;

      &:hover,
      &:active {
        background: rgba(255, 255, 255, 0.1);
        transition-duration: 0.2s;
      }
    }
  }

  @media screen and (max-width: 1600px) {
    width: 100%;
    height: 100%;

    .hideable {
      display: block;
    }
  }

  @media screen and (max-width: 1000px) {
    .hideable {
      display: none;
    }
    .visible1000 {
      display: block;
    }
  }

  @media screen and (max-width: 720px) {
    .visible720 {
      display: block;
    }
    .visible1000 {
      display: none;
    }
  }
}

@media screen and (max-width: 1600px) {
  .visible1600 {
    display: block;
  }
  .visible720,
  .visible1000 {
    display: none;
  }
} 