.ProfilePage {
  margin-left: 15em;
  margin-right: 15em;
  display: flex;
  flex-direction: column;
  align-items: center;

  .profile-block {
    width: 100%;
    display: flex;
    gap: 24px;
    justify-content: flex-start;
  }

  .notifications-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 720px;
    width: 30em;

    .notifications-title {
      text-align: center;
    }
  }

  .info-block {
    flex-direction: column;
    gap: 24px;
    display: flex;
  }

  .user-info {
    gap: 24px;
    display: flex;
    flex-direction: row;
  }

  .user-image {
    width: 159px;
    height: 159px;
  }

  .user-info__text {
    margin-top: 24px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-weight: 500;
    font-size: 24px;
  }

  .img-border {
    position: absolute;
    margin-left: 8px;
    margin-top: 8px;
    z-index: -1;
    border: #46aebe 3px solid;
    border-radius: 2em;
    width: 156px;
    height: 156px;
  }
}