.auto-complete {
  position: absolute;
  background: white;
  margin-top: 64px;
  max-height: 15vh;
  min-width: 30vw;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;

  .auto-complete__item {
    cursor: pointer;
    padding: 8px;
    transition-duration: 0.3s;
    animation: 0.3s itemsShow ease;

    &:hover {
      background: rgba(31, 31, 31, 0.3);
    }

    &:active {
      background: rgba(31, 31, 31, 0.1);
    }
  }

  @keyframes itemsShow {
    from { opacity: 0; }
    to { opacity: 1; }
  }
}