header {
  padding-top: 24px;
  padding-right: 15%;
  padding-left: 15%;
  display: flex;
  z-index: 1;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: white;

  .links {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    display: flex;
    margin-left: auto;
    gap: 32px;

    h3 {
      font-size: 32px;
      font-weight: 500;
    }

    svg {
      padding: 4px;
      transition-duration: 0.3s;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1600px) {
  header {
    padding-top: 24px;
    padding-right: 10%;
    padding-left: 10%;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: white;

    .links {

      h3 {
        display: none;
      }
    }

    svg {
      padding: 4px;
      transition-duration: 0.3s;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 720px) {
  header {
    padding-right: 5%;
    padding-left: 5%;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: left;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: white;

    .links {
      margin-left: auto;
      gap: 12px;

      h3 {
        display: none;
      }
    }

    svg {
      float: right;
      justify-content: center;
      padding: 4px;
      transition-duration: 0.3s;
      cursor: pointer;
    }

    .search-button {
      display: none;
    }

    .profile-button {
      display: none;
    }

    .Logo {
      width: 200px;
    }
  }
}

