.users-page {
    min-height: 70vh;

    .container {
        min-height: 0;

        .buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: left;
            gap: 12px;
        }
    }
}

.users-header {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transition-duration: 0.3s;

    .container {
        flex-wrap: wrap;
        display: flex;
    }
}

.search-block {
    width: 100%;
    display: flex;
    gap: 12px;
}

.search {
    width: 100%;
}

.user-type__btn {
    flex: 1;
    border: none;
    padding: 16px;
    border-radius: 0 0 8px 8px;
    background: transparent;
}

.users-page {
    margin-top: 200px;
}

.users-list {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}


