.TableCell {
  flex-direction: column;
  display: flex;
  flex: 1;
  padding: 8px;
  border: 3px #1f1f1f solid;
  transition-duration: 0.3s;

  h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
  }

  textarea {

    font-family: "Montserrat", sans-serif;
    resize: none;
    background: transparent;
    margin-top: auto;
    border: transparent;
    font-size: 20px;
    font-weight: 500;

    &:active, &:hover, &:focus {
      outline: 0;
    }
  }

  .auditory-input {
    width: 30px;
  }

  .teacher-input {
    width: 100px;
  }

  .lesson-title-input {
    word-break: break-all;
    width: 150px;
    height: 150px;
  }

  .lesson-title {
    width: 120px;
    margin-bottom: 8px;
    word-wrap: break-word;
  }

  .lesson-number {
    font-weight: 700;
  }

  .extra-info {
    display: flex;

    .auditory {
      align-items: flex-end;
      margin-left: auto;
      font-weight: 700;
    }
  }

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  &:active {
    background: rgba(0, 0, 0, 0.3);
  }
}