.Slider {
  margin-top: 64px;
  width: 90em;
  margin-left: auto;
  margin-right: auto;
  gap: 24px;
  display: flex;

  h1 {
    vertical-align: middle;
  }

  .hero-section {
    width: 50%;
    margin-right: 24px;

    button {
      margin-left: auto;
      margin-right: auto;
    }
  }
}